body{
    font-family: Calibri;
    background-size: 1600px 800px;
    background: whitesmoke;
    margin:0px;
}
.navbar{
    padding:15px;
    margin:0px;
    color:red;
    font-family:cursive;
    font-weight: bolder;
    font-size:large;
  
}
.float{
  float:left;
  margin-right:700px;
}
.navbar ul{
  margin: 0;
  padding: 0;
  list-style:none;
  overflow:hidden;
  display: flex;
  
}

.navbar  li{
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 15px;
  white-space:nowrap;
  position:relative;
  margin:10px;
}
li a{
    color:rgba(108, 108, 231, 0.8);
    text-decoration: none;
}
li a:hover,.active{
    background-color:rgb(239, 47, 95);
    color:white;
    padding-top: 40px;
    padding-left: 10px;
    padding-bottom: 40px;
    padding-right: 10px;
    text-decoration: underline;
}



.box1{
    width:50%;
    height:120%;
    margin-top: 0px;
    padding-top: 0.5%;
    font-size: 20px;
    color:black;
    background:rgb(232, 181, 181);
    float:left;
}

.box2{
    width:50%;
    height:120%;
    margin-top: 0px;
    padding-top: 0.5%;
    font-size: 20px;
    color:black;
    background:rgb(208, 182, 182);
    float:right;
    text-align: center;
}
h1{
    margin:0px;
    font-size:30px;
    font-family: 'Times New Roman', Times, serif;
    text-align:left;
    
}

h2{
    margin-top: 0px;
    text-align: center;
    text-decoration:underline;
}

table{
    margin-top:60px;
    margin-left:5%;
    font-weight: 20px;
    font-size: 20px;
    color:black;
    text-align: justify;
}
img{
    float:right;
    width:30%;
    height:20%;
}
/* button{
    margin:0px;
    padding:5px 20px;
    color:black;
    background:transparent;
    text-decoration: underline;
    border: none;
    float: right;
    font-size: 20px;
} */

button:hover{
    text-decoration: underline;
    background-color: rgb(116, 151, 139);
    color:red;
}